.header-responsive {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: rgb(56, 56, 56);
    
}

.text-responsive {
    font-size: 12px !important;
}

.info-text-responsive {
    font-size: 14px !important;
}

.text-header {
    text-align: center;
}

.awesome-font 
{
    font-family: 'Philosopher';
}

.brand_logo {
    font-family: 'Lobster', cursive;
    display: inline;
    font-size: 29px;
    font-weight: bold;
    margin: 0px;
    padding-left: 5px;
    background: -webkit-linear-gradient(rgb(207, 204, 204), 
    rgba(63, 63, 63, 0.74),
    rgb(30, 30, 30) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.nav-item{
    font-size: 18px;
}

.nav-item a {
    color: rgb(100, 97, 97) !important;

}

*{
    
    box-sizing: border-box !important;

}

html
{
    
}

body{
    margin: 0;
    padding: 0;
    background: rgba(158, 157, 157, 0.089) !important;  
    
}



.carousel {
    border-radius: 20px;
    box-shadow: 4px;
    overflow: hidden;
}

.carousel-caption {
    background-color: rgb(1, 132, 255);
    border-radius: 10px;
}

.carousel-caption h5 {
    font-size: 40px;
}

.carousel-caption p {
    font-size: 20px;
}

.card-text{
    font-size: 16px;
}

.poll-title {
    cursor: pointer;

}

.poll-title:hover {
    color: rgb(99, 97, 97);
    font-weight: bold;
    
}







// social media icon
footer {
    width: 100%;
    padding-top: 30px;
    background:#222;
    color:white;
    overflow: hidden;
}

footer h3 {
    font-size: 18px;
}

footer ul {
    display: flex;
    list-style-type: none;
}

footer p {
    margin:0px;
}

footer small{
    display: block;
    text-align: center;
}


  
  .fa-facebook:hover, .fa-twitter:hover, .fa-google:hover {
      opacity: 0.7;
      cursor: pointer;
  }
  
  .fa-facebook {
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: white;
  }
  
  .fa-twitter {
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
  }
  
  .fa-google {
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
  }

.choice {
    cursor: default;
    color: white;
    background-color: $teal-light;
}

.choice:hover {
    background-color: $teal-dark;
}

.choice-selected {
    background-color: $teal-select !important;
}

.poll-result {
    background-color: #F50057 !important;
    color: white !important;
}

.content-body {
    margin-bottom: 30px;
    min-height: 78vh;
}

.setting {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -25px;
    border-radius: 80%;
    padding: 7px;
    display: flex;
    justify-content: center;
    background-color: rgba(221, 213, 213, 0.678);

}

.setting img {
    width: 20px;
    height: auto;
}






@media only screen and (max-width: 576px) {
    .table td {
        padding-left: 3px !important;
        padding-right: 0px !important;
    }
    
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .text-responsive {
        font-size: 15px !important;
    }

    .info-text-responsive {
        font-size: 17px !important;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .header-responsive {
        font-size: calc(100% + 1vw + 1vh);
    }

    

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

